// fadding animation effect
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 500ms ease-in-out 1 forwards;
}

.fade-out {
    animation: fade-out 500ms ease-in-out 1 forwards;
}

// swing animation effect
@keyframes swing {
    0% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}