// swing animation effect
@keyframes swing {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

//swipe animation effect
@keyframes swipeRight {
    0% {
        transform: translate(-50%, -50%) scale(1.0);
    }
    100% {
        transform: translate(-10%, -50%) scale(0.8);
    }
}

@keyframes swipeLeft {
    0% {
        transform: translate(-50%, -50%) scale(1.0);
    }
    100% {
        transform: translate(-90%, -50%) scale(0.8);
    }
}

.swipe-right {
    animation: swipeRight 300ms ease-in-out 1 forwards;
}
.swipe-left {
    animation: swipeLeft 300ms ease-in-out 1 forwards;
}