@use 'mixin';
@use 'variables' as var;

section {
    position: relative;
    width: 100%;
    padding: 0;
}

.content {
    min-height: 120vh; //calc(100vh - 66px - var.$header-logo-height);
    padding: 0px 10vw;
    position: relative;
}

.board1 {
    min-height: 700px;
    margin: 30px 0;
}

.board2 {
    margin: 30px 0;
    padding: 20px 0;
    position: relative;
    background-color: var.surface_color(7%);
}

.board3 {
    margin: 30px 0;
    padding-top: 20px;
    position: relative;
}

.ex-link {
    &::after {
        content: "";
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        margin-left: 5px;
        background-image: url(../assets/images/ex-link.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.fg-patern {
    pointer-events: none;
    z-index: 2;
    position: fixed;
    width: 80vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
    --border-width : 3px;

    .out-square {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        >span {
            display: block;
            position: absolute;
            width: 10vw;
            height: 10vh;
            background-color: transparent;
            
            &:nth-child(1) {
                top: 0;
                left: 0;
                border-top: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-left: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(2) {
                top: 0;
                right: 0;
                border-top: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-right: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(3) {
                bottom: 0;
                left: 0;
                border-bottom: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-left: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(4) {
                bottom: 0;
                right: 0;
                border-bottom: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-right: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
        }
    }
    
    .in-square {
        position: absolute;
        width: 5vw;
        height: 5vw;
        top: 50%;
        left: 50%;
        background-color: transparent;
        transform: translate(-50%, -50%);
        pointer-events: auto;

        &:hover {
            >span {
                border-color: rgba(green, 0.5) !important;
            }
        }
        
        >span {
            display: block;
            position: absolute;
            width: 25%;
            height: 25%;
            background-color: transparent;

            &:nth-child(1) {
                top: 0;
                left: 0;
                border-top: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-left: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(2) {
                top: 0;
                right: 0;
                border-top: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-right: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(3) {
                bottom: 0;
                left: 0;
                border-bottom: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-left: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
            &:nth-child(4) {
                bottom: 0;
                right: 0;
                border-bottom: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
                border-right: var(--border-width) solid rgba(var.surface_color(12%), 0.5);
            }
        }
    }
}

.greating {
    position: relative;
    height: fit-content;
    top: 20vh;
    padding: 0;

    >div:first-of-type {
        text-align: right;
    }

    h2 {
        color: var.$primary-color;
        color: linear-gradient(45deg, var.$primary-color 0%, var.$secondary-color 100%);
        font-size: 5em;
        transition: all 300ms ease-in-out;

        &:hover{
            transform: scale(1.05);
        }

        @include mixin.breakpoint_down(small){
            font-size: 3em;
        }
    }
}

.ver-line {
    background-color: var.$primary-color;
    width: 2px;
    border-radius: 50px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0 20px;
}

.cover-img {
    position: absolute;
    top: -150px;
    right: 15vw;
    z-index: -1;
    pointer-events: none;
    transform-origin: center top;
    animation: swing 2s ease-in-out infinite alternate;
    @include mixin.breakpoint_down(medium) {right: 10vw;}
    @include mixin.breakpoint_down(small) {right: 0;}
    
    img {
        width: 300px;
    }
}

.head {
    height: fit-content;
    position: relative;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include mixin.breakpoint_down(small) {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .bio {
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        @include mixin.breakpoint_down(small) {
            margin-left: 0;
        }
    }

    .label {
        margin: 0;
        padding: 0;
        font-size: 0.7em;
        display: block;
        position: relative;
    }

    .details {
        margin: 1px 0 15px 0px;
        padding: 0;
        letter-spacing: 3px;
        font-weight: 600;
        color: var.$primary-color;
        display: block;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .speciality {
        margin-left: 30%;
        margin-top: auto;
        margin-bottom: auto;
        @include mixin.breakpoint_down(medium) {
            margin-left: 15%;
        }
        @include mixin.breakpoint_down(small) {
            margin-left: 0;
        }
    }

    .display-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 30px;
        margin-top: auto;
        margin-bottom: auto;
        @include mixin.breakpoint_down(small) {
            margin: 0;;
        }
    }
}

.card, .card-cta {
    margin: 20px 20px 0 20px;
    padding: 20px 5vw;
    text-align: center;
    background-color: var.surface_color(9%);
    border-radius: 10px;

    @include mixin.breakpoint_down(small){
        > h3 { color: var.$primary-color;}
    }
}

@include mixin.breakpoint_up(medium){
    .card-cta:hover, #angin:hover {
        cursor: pointer;
        >h3, .notes {
            color: var.$primary-color;
        }
    }
}

.notes {
    font-weight: 200;
    font-size: 0.8em;
    @include mixin.breakpoint_down(small){
        color: var.$primary-color;
    }
}


.pTitle {
    color: var.$primary-color;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    @include mixin.breakpoint_down(small){
        font-size: 2em;
    }
}

.mid-line {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 5px;
    background-color: var.$primary-color;
    left: 50%;
    transform: translateX(-50%);
    @include mixin.breakpoint_down(small){
        left: 5vw;
    }
}

.progress {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 5vw;
    margin: 20px 0;
    position: relative;
    transition: all 300ms ease-in-out;
    @include mixin.breakpoint_down(small){
        display: block;
        .title {
            color: var.$primary-color;
        }
}

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @include mixin.breakpoint_up(medium){
        &:hover {
            transform: scale(1.1);
    
            .year, .title {
                color: var.$primary-color;
            }
    
            .time>.dot {
                border: 4px solid var.$primary-color;
                width: 15px;
                height: 15px;
            }
        }
    }

    .time {
        padding: 0 30px;
        text-align: right;
        position: relative;
        @include mixin.breakpoint_down(small){
            text-align: left;
            margin-bottom: 20px;
        }

        .dot {
            background-color: var.$onBack-color;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            position: absolute;
            top: 15px;
            left: 100%;
            transform: translate(-50%, -50%);
            @include mixin.breakpoint_down(small){
                border: 4px solid var.$primary-color;
                width: 10px;
                height: 10px;
                left: 0;
            }
        }
    }

    .details {
        padding: 0 30px;
        text-align: left;

        .place::before {
            content: "at";
            font-weight: 200;
            font-size: 0.8em;
            margin-right: 5px;
        }

        .description {
            margin: 10px 0;
        }
    }
}

.skill-card {
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    @include mixin.breakpoint_down(small) {
        display: block;
    }
}

.skill {
    margin-right: 20px;
    padding: 10px 10px 10px 0;
    text-align: right;
    position: relative;
    @include mixin.breakpoint_down(medium){
        font-size: 0.8em;
    }
    @include mixin.breakpoint_down(small){
        text-align: left;
        margin-top: 10px;
        padding-left: 0;
    }
}

.skill-bar {
    height: 16px;
    width: 45vw;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var.surface_color(7%);
    border-radius: 5px;
    position: relative;
    display: block;
    @include mixin.breakpoint_down(medium){
        height: 14px;
    }
    @include mixin.breakpoint_down(small){
        height: 10px;
    }

    .bar {
        height: 100%;
        background-color: var.$primary-color;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.grid-container {
    flex-wrap: wrap;
}

.grid-item {
    margin: 5px;
    width: fit-content;
    height: 250px;
    overflow: hidden;
    position: relative;
    transition: 200ms;
    cursor: pointer;
    
    img {
        max-width: 250px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 300ms ease-in-out;
        margin: 0;
        padding: 0;
    }
    
    > span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.3;
        transition: opacity 200ms ease-in-out;
    }
    
    &:hover {
        img {
            transform: translate(-50%, -50%) scale(1.1);
        }
        
        > span {
            opacity: 0;
        }
    }
}

.preview {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var.surface_color(12%), 0.3);
    backdrop-filter: blur(5px);
    z-index: 5;

    img {
        position: fixed;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}