@use 'variables' as var;

footer {
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    border-top: 1px solid var.surface_color(7%);
    backdrop-filter: blur(5px);
    color: var.$onSur-color;
    z-index: 1;
}