@use 'mixin';
@use 'variables' as var;

body {
    margin: 0;
    padding: 0;
    background-color: var.$background-color;
    color: var.$onBack-color;
    font-family: sans-serif;
    font-weight: 300;
    position: relative;

    &.noScroll {
        overflow: hidden;
    }
}

//flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-fe {
        justify-content: flex-end;    
    }

    &-ai-c {
        align-items: center;
    }
}

//responsive visibilty
.mobile-hide {          //hide in mobile display
    @include mixin.breakpoint_down(medium){
        display: none;
    }
    
}

.desktop-hide {         //hide in desktop display
    @include mixin.breakpoint_up(large){
        display: none;
    }
}