@use 'mixin';
@use 'variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    // background-color: var.$background-color;
    background-image: radial-gradient(circle, #111111, #151515, #181818, #1c1c1c, #1f1f1f);
    background-size: cover;
    background-attachment: fixed;
    color: var.$onBack-color;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    position: relative;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.noScroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

//flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-fe {
        justify-content: flex-end;    
    }

    &-ai-c {
        align-items: center;
    }

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }
}

//responsive visibilty
.mobile-hide {          //hide in mobile display
    @include mixin.breakpoint_down(small){
        display: none;
    }
    

}
.tablet-hide {          //hide in tablet display
    @include mixin.breakpoint_down(medium){
        display: none;
    }
    
}

.desktop-hide {         //hide in desktop display
    @include mixin.breakpoint_up(large){
        display: none;
    }
}

.anchor {
    display: block;
    position: absolute;
    left: 0;
}

//scrollbar-----
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var.$primary-color, 0.7); 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var.$primary-color; 
}
//-------scrollbar

button {
    padding: 10px 20px;
    margin: 5px;
    width: 80%;
    background-color: var.$primary-color;
    border-radius: 30px;
    border: none;
    color: var.$onPrime-color;
    cursor: pointer;
    @include mixin.breakpoint_down(small){
        // width: 25vw;
    }

    &:hover, &:focus {
        background-color: var.$secondary-color;
        color: var.$onSec-color;
    }
}