.header {
    nav {
        background-color: white;
        padding: 20px 10px;
        a, a:visited, a:hover {
            color: $lightgrey;
            text-decoration: none;
            font-weight: 400;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        a:hover {
            color: black;
        }
    }
    
    &_toggle {      //mobile toggle menu
        > span {
            display: block;
            background-color: $lightgrey;
            width: 25px;
            height: 2px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}