@use 'variables' as var;
@use 'animations';

.header {
    position: relative;
    width: 100%;
    .nav {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        border-bottom: 1px solid var.surface_color(7%);
        backdrop-filter: blur(5px);
        min-height: 20px;
        padding: 5px 0;
        z-index: 2;
        transition: top 400ms ease-in-out;

        .menu_link {
            position: relative;
            gap: 20px;
            margin-right: var.$side-padding;
            p {
                position: relative;
                color: var.$onSur-color;
                text-decoration: none;
                font-weight: 400;
                transition: color 300ms ease-in-out;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    border-radius: 50px;
                    left: 0;
                    right: 0;
                    bottom: -25px;
                    background-color: var.$primary-color;
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                }
            }
            
            p:hover, .active {
                color: var.$primary-color !important;

                &::before {
                    background-color: var.$primary-color;
                    opacity: 1;
                }
            }

        }

        .header-logo {
            height: var.$header-logo-height;
            margin-left: var.$side-padding;
            > img {
                max-height: 100%;
                width: auto;
            }
        }
    }

    .sticky-nav {
        border: 1px solid var.surface_color(7%);
        border-radius: 40px;
        padding: 5px 20px;
        width: calc(100vw - 70px);
        top: 5px;

        .menu_link {
            margin-right: 0;
        }
        .header-logo {
            margin-left: 0;
        }

        .header_toggle {
            margin-right: 0;
        }
    }
    
    &_toggle {      //mobile toggle menu
        margin: auto 0;
        cursor: pointer;
        margin-right: var.$side-padding;

        > span {
            display: block;
            background-color: var.$onSur-color;
            width: 25px;
            height: 3px;
            transition: all 500ms ease-in-out;
            transform-origin: 5% 50%;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &.open {
        .header_toggle {
                
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                opacity: 0;
            }

            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        display: block;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-image: linear-gradient(rgba($color: var.surface_color(9%), $alpha: 0.75), transparent);
        z-index: 3;
        backdrop-filter: blur(5px);
    }
    
    .toggle-menu {
        // visibility: hidden;
        display: none;
        text-align: center;
        width: calc(100% - calc(var.$side-padding * 2));
        padding: 15px 0px;
        border-radius: 5px;
        background-color: rgba($color: var.surface_color(12%), $alpha: 0.5);
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);

        a {
            display: block;
            text-decoration: none;
            padding: 10px;
            color: var.$onSur-color;
            font-weight: 600;
        }
    }
}