@use 'variables' as var;
@use 'animations';

//coba masuk branch
.header {
    .nav {
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        border-bottom: 1px solid var.surface_color(7%);
        backdrop-filter: blur(5px);
        min-height: 20px;
        padding: 5px var.$side-padding;
        z-index: 2;

        .menu_link {
            position: relative;
            gap: 20px;
            a, a:visited, a:hover {
                position: relative;
                color: var.$onSur-color;
                text-decoration: none;
                font-weight: 400;
                transition: color 300ms ease-in-out;

                &::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    border-radius: 50px;
                    left: 0;
                    right: 0;
                    bottom: -25px;
                    background-color: var.$primary-color;
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                }
            }
            
            a:hover {
                color: var.$primary-color;

                &::before {
                    background-color: var.$primary-color;
                    opacity: 1;
                }
            }

        }

        .header-logo {
            height: var.$header-logo-height;
            > img {
                max-height: 100%;
                width: auto;
            }
        }
    }

    .sticky-nav {
        border: 1px solid var.surface_color(7%);
        border-radius: 40px;
        padding: 5px 20px;
        width: calc(100vw - 100px);
        position: fixed;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &_toggle {      //mobile toggle menu
        margin: auto 0;
        cursor: pointer;
        > span {
            display: block;
            background-color: var.$onSur-color;
            width: 25px;
            height: 3px;
            transition: all 500ms ease-in-out;
            transform-origin: 5% 50%;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &.open {
        .header_toggle {
                
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                opacity: 0;
            }

            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        display: block;
        visibility: hidden;
        position: absolute;
        // height: calc(100vh - 65px - var.$header-logo-height);
        left: 0;
        right: 0;
        background-image: linear-gradient(rgba($color: var.surface_color(9%), $alpha: 0.75), transparent);
        z-index: 3;
        backdrop-filter: blur(5px);
    }
    
    .toggle-menu {
        visibility: hidden;
        width: calc(100% - calc(var.$side-padding * 2));
        padding: 15px 0px;
        border-radius: 5px;
        background-color: rgba($color: var.surface_color(12%), $alpha: 0.5);
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);

        a {
            display: block;
            text-decoration: none;
            padding: 10px;
            color: var.$onSur-color;
            font-weight: 600;
        }
    }
}