//colors
$primary-color     : rgb(132, 169, 140);
$secondary-color   : rgb(82, 121, 111);
$accent-color      : rgb(82, 121, 111);
$background-color  : whitesmoke;
$surface-color     : rgb(202, 210, 197);
$error-color       : null;
$onPrime-color     : white;
$onSec-color       : white;
$onBack-color      : black;
$onSur-color       : gray;
$onErr-color       : null;

//formatting
$side-padding       : 30px;