//colors
$primary-color     : rgb(50, 224, 255);
$secondary-color   : rgb(50, 255, 50);
$accent-color      : rgb(82, 121, 111);
$background-color  : #121212;
$surface-color     : #121212;
$error-color       : #CF6679;
$onPrime-color     : #ffffff;
$onSec-color       : #121212;
$onBack-color      : #ffffff;
$onSur-color       : #ffffff;
$onErr-color       : #121212;

//surface color elevation
@function surface_color ($amount) {
    @return lighten($background-color, $amount);
}

//formatting
$side-padding       : 30px;
$header-logo-height : 60px;