body {
    margin: 0;
    padding: 0;
}

header {
    #menu {
        display: flex;
        background-color: grey;
        padding: 10px;
        justify-content: flex-end;
        a, a:visited, a:hover {
            color: white;
            text-decoration: none;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        a:hover {
            color: lightskyblue;
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
